[Unit]
Description=Riak Prometheus Exporter
After=network-online.target
Wants=riak.service
After=riak.service
Wants=network-online.target
After=network-online.target

[Service]
User=exporter
Type=simple
EnvironmentFile=/etc/sysconfig/riak_exporter
ExecStart=/var/lib/prometheus/riak_exporter $OPTIONS

[Install]
WantedBy=defaul.target
