[Unit]
Description=Riak Prometheus Exporter
Wants=network-online.target
Wants=riak.service
After=riak.service

[Service]
User=exporter
Group=sentenai
Type=simple
EnvironmentFile=/etc/sysconfig/riak_exporter
ExecStart=/var/lib/prometheus/riak_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
